#admintopbar{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    height: 9vh;
}

#admintopbar h1{
    font-size: 2vw;
    font-weight: bold;
    /* border: 2px solid; */
    width: 120px;
}

#admintopbar>img{
    width: 12vw;
    margin-right: 70%;
    /* border: 2px solid; */
}

/* media query */
@media screen and (max-width: 700px){
    #admintopbar{
        width: 550px;
    }
}