#admin-user{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 79vw;
    height: 90vh;
    margin-left: 1%;
    margin-top: 6px;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    background-color: rgb(253, 253, 253);
    /* border: 2px solid; */
}

#admin-user>h2{
    position: relative;
    color: rgb(73, 73, 73);
    font-size: xx-large;
    font-weight: 500;
    top: 2%;
}

#admin-user-card{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    margin: 1% auto;
    justify-content: space-between;
    width: 90%;
    border-radius: 5px;
}

#admin-user-card>div{
    /* border: 2px solid red; */
    color: rgb(73, 73, 73);
    height: 50px;
    display: flex;
    align-items: center;
    
}

.admin-user-logo{
    width: 60px;
    
}
.admin-user-name{
    width: 200px;
    padding: 0;

}
.admin-user-email{
    width: 450px;

}
.admin-user-gender{
    width: 100px;

}

#admin-user-head{
    /* border: 2px solid; */
    display: flex;
    margin: 1% auto;
    justify-content: space-between;
    width: 90%;
    border-bottom: 1px solid gray;
}

#admin-user-head>div{
    /* width:300px; */
    /* border: 2px solid red; */
    height: 50px;
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: 500;
    color: rgb(73, 73, 73);

}